/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #f0ac2f; 
    --main-color-alt: #e4a126;
    --parg-color: #777;
    --border-color: #e9e6E9; 
    --backgr-color: #ececec; 
    --main-transition: .5s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --border-rd: 7px;
    --main-line: 1.7;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color : var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);

}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move calc(var(--main-transition) + .3s)  linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move calc(var(--main-transition) + .3s) linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: var(--main-transition);
}
/* End Global Rules */

/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;  
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px){
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px){
    .header .mega-menu .image  {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ade3f071;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6E9;
}

@media (max-width: 767px){
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6E9;
    }
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px; 
}   
/* End Header */

/* Start Landing */

.landing {
position: relative;
}

.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center; 
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px)  {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: var(--main-line);
    margin: 5px 0 0;
    color: var(--parg-color);
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-height:425px) and (orientation:landscape) {
    .landing .text {
        margin-top: 45px; 
    }

    .landing .text h1 {
        font-size: 35px;
    }

    .landing .text p {
        font-size: 20px;
    }

}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto
    }
}

.landing .image img{
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image img{
        display: none;
    }
}

@media (max-height: 632px) {
    .landing .image img{
        width: 500px;
        height: 250px
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/* End Landing */

/* Start Articals */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    -webkit-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.2);
    -moz-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.2);
    box-shadow: -6px 4px 10px 0px rgba(130,125,130,0.2);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}


.articles .box:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.411);
    -moz-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.411);
    box-shadow: -6px 4px 10px 0px rgba(130,125,130,0.411);
      
}
.articles .box img {
    max-width: 100%;
    width: 100%;
}

.articles .box .content {
    padding: 20px;

}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: var(--parg-color);
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6E6E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--main-color);    
}

.articles .box:hover .info i {
    animation: moving-arrow var(--main-transition) linear infinite;
}
/* End Articals */

/* Start Gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--backgr-color);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: white; 
    -webkit-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.2);
    -moz-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.2);
    box-shadow: -6px 4px 10px 0px rgba(130,125,130,0.2);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0px; 
    height: 0px;
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing var(--main-transition);
}
.gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.2)
}
/* End Gallery */

/* Start Feature */
.feature {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.feature .box {
    text-align: center;
    border: 1px solid #ccc;
}

.feature .box .img-holder {
    position: relative; 
    overflow: hidden;
}

.feature .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.feature .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 95px 500px;
    border-color: transparent transparent white transparent; 
    transition: var(--main-transition);    
}

.feature .box:hover .img-holder::after {
    bottom: 4px;
    border-width: 0px 668px 175px 0px;
}


@media (max-width: 684px){
    .feature .box:hover .img-holder::after {
        bottom: 2px;
    }
}
@media (max-width: 684px){
    .feature .box .img-holder::after {
        border-width:0 0 167px 608px;

    }
}

@media (max-width: 503px){
    .feature .box .img-holder::after {
        border-width: 0 0 95px 500px;

    }
}

.feature .box .img-holder img {
    max-width: 100%;
}

.feature .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.feature .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.feature .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: var(--parg-color);
}

.feature .box a {
    display: block;
    border: 1px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 26px;
    padding: 10px 30px;
    border-radius: var(--border-rd);
    transition: var(--main-transition);
}


.feature .quality h2::after {
    background-color: #03a9f4; 
}

.feature .quality a {
    border-color: #03a9f4; 
    color: #03a9f4; 
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.feature .time h2::after {
    background-color: #009688; 
}

.feature .time a {
    border-color: #009688; 
    color: #009688; 
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.feature .passion h2::after {
    background-color: #f44036; 
}

.feature .passion a {
    border-color: #f44036; 
    color: #f44036; 
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.feature .box:hover a {
    background-position: left bottom;
    border: none;
    color: white;
}
/* End Feature */

/* Start Testimonials */
.testimonial {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--backgr-color);
}

.testimonial .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonial .box {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: var(--border-rd);
    -webkit-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.099);
    -moz-box-shadow: -6px 4px 10px 0px rgba(130, 125, 130, 0.099);
    box-shadow: -6px 4px 10px 0px rgba(130,125,130,0.099);
}

.testimonial .box img {
    position: absolute;
    width: 100px;
    border: 10px solid var(--backgr-color);
    border-radius: 50%;
    top: -50px;
    right: -10px;    
}

.testimonial .box h3 {
    margin: 0 0 10px;   
}

.testimonial .box .title {
    color: var(--parg-color);
    margin-bottom: 10px;
    display: block;
}

.testimonial .rate .filled {
    color: #ffc107;
}

.testimonial .box p {
    line-height: 1.5;
    font-weight: 600;
    color: var(--parg-color);
    margin-top: 10px;
    margin-bottom: 0;
    
}
/* End Testimonials  */

/* Start Team  */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .box {
    position: relative; 
}

.team .box::before,.team .box::after {
    content: "";
    background-color: #F3F3F3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 15px;
    transition: var(--main-transition);
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after {
    z-index: -1;
    width: 0;
    background-color: #e4e4e4;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    align-items: center; 
    padding-top: 60px;
}


.team .box .data img {
    width: calc(100% - 60px);
    background-image: linear-gradient(rgb(50, 202, 222), rgb(139, 216, 223), white);
    border-radius: 15px;
    transition: var(--main-transition);
}

.team .box:hover img {
    filter: saturate(150%);
    filter: grayscale(100%)
}

.team .box .manager img {
    background-image: linear-gradient(#f0ac2f, #eebe65, white);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);;
    border: 1px solid var(--main-color);
}

.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: var(--main-transition);   
}

.team .box .data .social a:hover i {
    color: var(--main-color)
}

.team .box .data .social i {
    font-size: 20px;
    color: var(--parg-color);
    transition: var(--main-transition);   
}

.team .box .info {
    padding-left: 80px;
}

.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);   

}

.team .box .info p {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 25px
}
/* End Team */

/* Start Services */
.service {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--backgr-color);
}

.service .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.service .box {
    background-color: white;
    -webkit-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2),
     0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2),
     0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2),
     0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    counter-increment: service;
    position: relative;
    transition: var(--main-transition);
}

.service .box::before {
    content: "";
    position: absolute;
    top: -3;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.service .box:hover::before { 
    width: 100%;
}

.service .box:hover {
    transform: translateY(-10px);
}

.service .box > i {
    margin: 30px auto 20px;
    display: block;
    text-align: center;
    color: #D5D5D5; 
}   

.service .box > h3 {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}

.service .box .info {
    padding: 15px;
    position: relative;
    background-color: #fbfbfb;     
    text-align: right;
}

.service .box .info::before {
    content: "0" counter(service);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.service .box .info::after {
    content: "";
    position: absolute;
    background-color: #D5D5D5;
    left: 80px;
    top: 0;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skew(-30deg)
}

.service .box .info a {
    color: var(--main-color)
}
/* End Services */

/* Start Skills */
.our-skill {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skill .container {
    display: flex;
    align-items: center;    
}

@media screen and (max-width: 991px) {
    .our-skill img {
        display: none;
    }
}

.our-skill .skills {
    flex: 1;    
}

.our-skill .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px
}

.our-skill .skill h3 span {
    font-size: 10px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skill .skill .the-progress {
    height: 25px;
    background-color: #eee;
    position: relative;
    
}
.our-skill .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color) 
}
/* End Skills */ 

/* Start Work Step */
.work-step {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--backgr-color);
}

.work-step .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
@media screen and (max-width: 991px) {
    .work-step .container {
        flex-direction: column;
    }
}

.work-step .image {
    max-width: 100%;
}

.work-step .info .box {
    background-color: #f6f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}

.work-step .info .box::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}

.work-step .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-step .info .box img {
    width: 64px;
    margin-right: 30px;
}

.work-step .info .box h3 {
    margin: 0;
    font-size: 22px;
    
}

.work-step .info .box p {
    color: var(--parg-color);
    line-height: var(--main-line);
    margin: 10px 0 0;
    font-size: 18px;
}
/* End Work Step */

/* Start Event  */
.event {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.event .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.event img {
    max-width: 450px;
}

@media (max-width: 991px) {
    .event img {    
        display: none;
    } 
}

.event .info {
    flex: 1;
}

.event .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}

.event .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px; 
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
} 

.event .info .time .unit span {
    display: block;
    transition: var(--main-transition);
}

.event .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
} 


.event .info .time .unit span:last-child {
    padding : 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
}

.event .info .time .unit:hover,
.event .info .time .unit:hover span:last-child {
    border-color: var(--main-color-alt);
}
.event .description {
    text-align: center;
    line-height: var(--main-line);
    font-size: 19px;
    color: var(--parg-color);
}

.event .title {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
} 
.event .subscribe {
    width: 100%;
    margin-top: 50px;
}

@media (max-width: 991px) {
    .event .subscribe {
        margin: 0;
    }
}

.event .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f2ebeb;
    border-radius: 50px;
    display: flex;
    gap: 20px; 
}

@media (max-width: 991px) {
    .event .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 7px;
    }
}

.event .subscribe form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}

@media screen and (max-width: 991px) {
    .event .subscribe form input[type="email"] {
        border-radius: 7px;
    }
}

.event .subscribe form input[type="email"]:focus {
    outline: none;
}

.event .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.event .subscribe form input[type="email"]:focus::placeholder  {
    opacity: 0;
}

.event .subscribe form input[type="submit"] {
    border-radius: 50px;
    border: 1px solid var(--main-color-alt);
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

@media screen and (max-width: 991px) {
    .event .subscribe form input[type="submit"] {
        border-radius: 7px;
    }
}

.event .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Event  */

/* Start Pricing */

.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--backgr-color);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .box {
    position: relative;
    background-color: white;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2),
     0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2),
     0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2),
     0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
    transition: var(--main-transition);
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    width: 0px;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .box::before {
    left: 0;
    top: 0;
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%
}

@media (min-width: 1200px) {
    .pricing .box.popular {
        top: -20px;
    }
}

.pricing .box.popular .lable {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
    top: 0;
}

.pricing .box.popular .lable::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}

.pricing .box .title {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1;
}

.pricing .box img {
    width: 120px;
    height: 80px;
    margin-bottom: 30px;
}

.pricing .box .price {
   margin-bottom: 20px; 
}

.pricing .box .amount {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);    
}

.pricing .box .time {
    color: var(--parg-color); 
}

.pricing .box ul{
    text-align: left;
}

.pricing .box ul li{
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .box a {
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.pricing .box a:hover {
    background-color: var(--main-color);
    border-color: var(--main-color-alt);
    color: white;
}
/* End Pricing */

/* Start Video */
.video {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.video .holder {
    display: flex;
    justify-content: center;
    background-color: var(--backgr-color);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    .video .holder {
        flex-direction: column-reverse;
    }
} 

.video .holder .list {
    min-width: 300px;
    background-color: white;
}

.video .holder .list .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
    color: var(--main-color);
    font-size: 17px;
}

.video .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--backgr-color);
    cursor: pointer;
    transition: var(--main-transition);
}

.video .holder .list ul li.active {
    background-color: #f0ac2f4d;
    font-size: 17px;
    border-top: 1px solid #f0ac2f78;
    border-bottom: 1px solid #f0ac2f78
}

.video .holder .list ul li:hover {
    background-color: #f0ac2f4d;
    font-size: 17px;
}


.video .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: var(--parg-color);
}

.video .holder .preview {
    background-color: #E2E2E2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video .holder .preview img {
    max-width: 100%;
}

.video .holder .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
/* End video */

/* Start stat */
.stat {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url("/img/stats.jpg");
    background-size: cover;
    min-height: 300px;
}

.stat::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.stat h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}

.stat .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stat .box {   
    position: relative;
    text-align: center;
    padding: 30px 15px;
    background-color: white;
    opacity: .8;
    transition: var(--main-transition);
}

.stat .box:hover {
    opacity: 1;
}

.stat .box::before,
.stat .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}

.stat .box::before {
    top: 0;
    right: 0;
}

.stat .box::after {
    bottom: 0;
    left: 0;
} 

.stat .box:hover::before {
    height: 100%;
}

.stat .box:hover::after {
    height: 100%;
}

.stat .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stat .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;  
}
/* End Stat */

/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .image {
    background-image: url("../img/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-bgr 10s linear infinite;
}

.discount .image::before {
    content:""; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(39, 87%, 56%, 0.97);
    z-index: -1;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .discount .content img {
        margin-bottom: 10px;
    }
    .discount .image {
        flex-basis: 100%;
    }

}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
        margin-top: 20px;
    }
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #F9F9F9; 
    caret-color: var(--main-color);  
}

.discount .form textarea.input {
    resize: none;
    height: 200px;   
}

.discount .form .input:focus {
    outline: none;
}

.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);  
}

.discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);  
}

/* End Discount */

/* Start Animation */
@keyframes up-and-down {
    0%, 100% {
        top: 30px;
    }
    50% {
        top: -30px;
    }
}

@keyframes bouncing{
    0%,
     10%, 
     20%, 
     50%, 
     80%, 
     100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0; 
        width: 200%;
        height: 200%;
    }
}

@keyframes change-bgr {
    0%, 100% {
        background-image: url("../img/discount-background1.jpg") 
    }

    50% {
        background-image: url("../img/discount-background2.jpg") 
    }
}
/* End Animation */